{% extends 'common/base.html' %}
{% load i18n %}

{% block content %}
    <section class="change-password">
        <p class="section-title">{% trans 'Промени парола' %}</p>

        <form class="change-password-form" action="{% url 'change password user' %}" method="post">
            {% csrf_token %}

            <div>
                {{ form.old_password }}
                {{ form.old_password.errors }}
            </div>

            <div>
                {{ form.new_password1 }}
            </div>

            <div>
                {{ form.new_password2 }}
                {{ form.new_password2.errors }}
            </div>

            <button class="change-password-button" type="submit">{% trans 'Промени' %}</button>
        </form>
    </section>
{% endblock %}