{% extends 'common/base.html' %}
{% load i18n %}

{% block content %}
    <section class="change-email">
        <p class="section-title">{% trans 'Промяна на имейл' %}</p>

        <form class="change-email-form" action="{% url 'change user email' %}" method="post">
            {% csrf_token %}

            <div>
                {{ form.email }}
            </div>

            <button class="change-email-button" type="submit">{% trans 'Промени' %}</button>
        </form>
    </section>
{% endblock %}