{% extends 'common/base.html' %}
{% load i18n %}

{% block content %}
    <section class="prices">
        <p class="section-title">{% trans "Цени на абонаменти" %}</p>

        <div class="box-container prices-container">
            {% for membershiptype in object_list %}
            	{% include 'common/partials/price-boxes-per-type.html' with membershiptype=membershiptype %}
            {% endfor %}
        </div>
    </section>

    <section class="where-to-buy">
        <p class="big-title">{% trans "Закупете вашия абонамент на рецепция" %}</p>

        <a href="{% url 'about' %}#map" class="button location-button">{% trans "Къде да ни намерите" %}</a>
    </section>
{% endblock %}