.login {
    padding: 4em 0;
    text-align: center;
    color: rgb(255, 255, 255);
    flex-grow: 1;
    background-color: var(--special-red);
}

.login .section-title {
    display: inline-block;
}

.login-form {
    font-size: 1.2em;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    margin: 0 auto;
    width: 20em;
    padding: 1em;
    border-radius: 15px;
    box-shadow: 0 0 20px 2px rgba(255, 255, 255, 0.4);
}

.welcome-message {
    font-size: 1.5em;
    margin-bottom: 0.8em;
    font-weight: bold;
}

.login-form div {
    margin-bottom: 0.7em;
}

.login-form input {
    font-size: 1.2em;
    padding: 0.3em;
    border-radius: 5px;
}

.login-button {
    font-size: 1.2em;
    padding: 0.3em;
    margin-bottom: 1.5em;
    margin-top: 0.5em;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease-in;
}

.no-account {
    font-size: 0.9em;
}

.no-account span {
    font-weight: bold;
    font-size: 1em;
}

/* Desktop */

@media (hover: hover) {
    .login-button:hover {
        background-color: var(--special-red);
        color: rgb(255, 255, 255);
    }

    .no-account span:hover {
        text-decoration: underline;
    }
}