{% load i18n %}

<div class="membership-box {% if not membership.is_active %}expired{% endif %}">
    <p class="start-date"><span>{% trans 'Начална дата' %}:</span> {{ membership.start_date|date:"d.m.Y" }}</p>

    <p class="end-date"><span>{% trans 'Крайна дата' %}:</span> {{ membership.end_date|date:"d.m.Y" }}</p>

    <p class="is-active">
        <span>
            {% if membership.is_active %}
            	{% trans 'Активен' %}
            {% else %}
                {% trans 'Изтекъл' %}
            {% endif %} 
        </span>
    </p>
</div>