{% load static %}

<nav class="main-nav">
    <div class="menuToggle">
        <input type="checkbox"/>

        <span></span>
        <span></span>
        <span></span>

        <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'prices' %}">Prices</a></li>
            <li><a href="{% url 'products' %}">Products</a></li>

            {% if request.user.is_authenticated %}
                {% if request.user.is_staff %}
                    <li><a href="{% url 'admin:index' %}">Administration</a></li>
                {% endif %}

                <li><a href="{% url 'details user' %}">Profile</a></li>
                <li><a href="#" onclick="document.getElementById('logout-form').submit();">Logout</a></li>
            {% else %}
                <li><a href="{% url 'register user' %}">Register</a></li>
                <li><a href="{% url 'login user' %}">Login</a></li>
            {% endif %}
        </ul>
    </div>
</nav>

<form id="logout-form" method="post" action="{% url 'logout user' %}" style="display: none;">
    {% csrf_token %}
</form>