{% load i18n %}
{% get_current_language as lang %}

<div class="product-box">
    <img src="{{ product.product_picture.url }}" alt="{{ product.name }}" class="product-picture">

    <p class="product-name">
        {% if lang == 'bg' %}
            {{ product.name_bg }}
        {% else %}
            {{ product.name_en }}
        {% endif %}
    </p>

    <p class="product-brand">
        {% if lang == 'bg' %}
            {{ product.brand.name_bg }}
        {% else %}
            {{ product.brand.name_en }}
        {% endif %}
    </p>

    <p class="product-price">{{ product.price }} {% trans 'ЛВ' %}</p>
</div>