{% extends 'common/base.html' %}

{% block content %}
    <section class="change-password">
        <p class="section-title">Change password</p>

        <form class="change-password-form" action="{% url 'change password user' %}" method="post">
            {% csrf_token %}

            <div>
                {{ form.old_password }}
            </div>

            <div>
                {{ form.new_password1 }}
            </div>

            <div>
                {{ form.new_password2 }}
            </div>

            <button class="change-password-button" type="submit">Change password</button>
        </form>
    </section>
{% endblock %}