{% extends 'common/base.html' %}
{% load i18n %}

{% block content %}
    <section class="login">
        <p class="section-title">{% trans "Вход" %}</p>

        <form class="login-form" method="post" action="{% url 'login user' %}">
            <p class="welcome-message">{% trans "Добре дошли!" %}</p>

            <div>
                {{ form.username }}
            </div>

            <div>
                {{ form.password }}
            </div>

            {{ form.non_field_errors }}

            <button class="login-button" type="submit">{% trans "Вход" %}</button>

            <p class="no-account">{% trans "Нямате акаунт?" %} <span><a
                    href="{% url 'register user' %}">{% trans "Регистрация" %}</a></span></p>

            {% csrf_token %}
        </form>
    </section>
{% endblock %}
