{% extends 'common/base.html' %}

{% block content %}
    <section class="register">
        <p class="section-title">Register</p>
    
        <form class="register-form" method="post" action="{% url 'register user' %}">
            {% csrf_token %}
            {{ wizard.management_form }}
            {{ wizard.form.management_form }}

            <p class="register-message">
                {% if not wizard.steps.prev %}
                    Credentials
                {% else %}
                    Personal Information
                {% endif %}
            </p>

            {% for field in wizard.form %}
                <div>
                    {% if field.name == 'date_of_birth' %}
                        {{ field.label_tag }}
                    {% endif %}

                    {{ field }}
                </div>
            {% endfor %}

            <div class="register-buttons {% if not wizard.steps.next %}personal-info-buttons{% endif %}">
                {% if wizard.steps.prev %}
                    <button class="register-button" type="submit" name="wizard_goto_step"
                            value="{{ wizard.steps.prev }}" formnovalidate>
                        Previous
                    </button>
                {% endif %}

                <button class="register-button" type="submit">
                    {% if wizard.steps.next %}
                        Next
                    {% else %}
                        Register
                    {% endif %}
                </button>
            </div>
        
            {% if not wizard.steps.prev %}
            	<p class="have-account">Already have an account? <span><a href="{% url 'login user' %}">Login</a></span></p>
            {% endif %} 
        </form>
    </section>
{% endblock %}
