/* Flex box for repeating boxes */

.box-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

.box {
    width: 80%;
    border-radius: 5px;
    overflow: hidden;
}

@media (min-width: 600px) {
    .box-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .box {
        flex: 1 1;
    }
}

@media (min-width: 1100px) {
    
}

/* Flex box for section with just text and image */

.box-container-text-img {
    display: flex;
    flex-direction: column;
    gap: 2.5em;
    padding-top: 4em;
}

.text {
    padding: 0 2.5em 0 2.5em;
}

.text p:first-child {
    display: inline-block;
    padding-bottom: 0.4em;
    border-bottom: 3px solid var(--special-red);
}

.text > p:nth-child(2) {
    font-size: 1.3em;
}

.picture {
    height: 100%;
    width: auto;
    overflow: hidden;
}

@media (min-width: 1100px) {
    .box-container-text-img {
        flex-direction: row;
        align-items: center;
        gap: 0;
        padding: 0;
    }

    .text {
        flex: 0 1 50%;
    }

    .picture {
        flex-basis: 60%;
        width: 100%;
        height: auto;
    }
}