/* Where to buy section */

.where-to-buy {
    background-color: var(--hover-red);
    text-align: center;
    padding: 4em 1em;
}

.where-to-buy .big-title {
    margin-bottom: 0.3em;
    color: rgb(255, 255, 255);
}

.location-button {
    font-size: 1.5em;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

@media (hover: hover) {
    .location-button:hover {
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
    }
}

