.site-header {
    position: sticky;
    top: 0;
    padding: 0.5em 1.2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    border-bottom: 2px solid rgb(45, 45, 45);
    /* overflow: hidden; */
}

.site-logo > a {
    display: flex;
    align-items: center;
}

.site-logo img {
    width: 17em;
}

